#graph-container {
  width: 100%;
  padding: 25px;
}

#graph-container .graph-container-inner {
  height: 600px;
}

#graph-container.no-data {
  display: flex;
  justify-content: center;
  height: unset;
  margin-top: 30px;
}
