#dataset-selection-view .input-container {
  padding: 10px 0px;
}

#dataset-selection-view .file-error {
  display: block;
  font-weight: 400;
  letter-spacing: 0.03333em;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.75em;
  color: #d32f2f;
  margin-top: 8px;
}
